<div class="container">
  <h1>Генераторы случайных и последовательных чисел</h1>

  <!-- <div class="reset-all">
    <button mat-raised-button color="accent" (click)="resetAll()">RESET ALL</button>
  </div> -->

  <div class="columns">
    <!-- Колонка с последовательными числами -->
    <mat-card class="column">
      <mat-card-header>
        <mat-card-title>Последовательные числа</mat-card-title>
      </mat-card-header>
      <mat-card-actions class="actions">
        <button
          mat-raised-button
          color="primary"
          (click)="startSeqGenerator()"
          [disabled]="_seqGenConfig.disable"
        >
          Старт
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="stopSeqGenerator()"
          [disabled]="!_seqGenConfig.disable"
        >
          Стоп
        </button>
        <button
          mat-raised-button
          color="basic"
          (click)="resetSeqGenerator()"
          [disabled]="_seqGenConfig.disable"
        >
          Рестарт
        </button>
      </mat-card-actions>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let num of sequentialSeq">{{
            num
          }}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Колонка со случайными числами -->
    <!-- <mat-card class="column">
      <mat-card-header>
        <mat-card-title>Random Numbers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let num of randomNumbers">{{ num }}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-raised-button color="primary" (click)="startRandomNumbers()">Start</button>
        <button mat-raised-button color="warn" (click)="stopRandomNumbers()">Stop</button>
        <button mat-raised-button color="basic" (click)="resetRandomNumbers()">Reset</button>
      </mat-card-actions>
    </mat-card> -->
  </div>
</div>
