* {
  /* border: 1px solid blue; */
}

button,
a {
  cursor: pointer;
}

.header {
  block-size: 110px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  justify-items: start;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.header__logo {
  /* border: 1px solid blue; */
  padding-inline-start: 80px;
  font-weight: 700;
  font-size: 24px;
}

.header__menu {
  justify-self: center;
}

.links-list {
  display: flex;
  gap: 42px;
  /* border: 1px solid green; */
  list-style: none;
  padding-inline-start: 0;
}

.list-item {
  text-decoration: none;
}

.header__button-authentication {
  justify-self: end;
  margin-inline-end: 55px;
}

.footer {
  block-size: 120px;
  padding-inline: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d1d5db;
}

.text-copyright {
  line-height: 1.5;
  color: #9ca3af;
  letter-spacing: .5px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 26px;
}
