.main-title {
  margin-block-end: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-block: 10px;
}

.generator-control {
  margin-bottom: 16px;
}

.table-container {
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

.numbers-card {
  margin-top: 20px;
}

.column-title {
  padding-block: 10px;
}

