@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Стиль заголовков второго уровня */
.second-title {
  font-size: 26px;
  padding-block-start: 15px;
  padding-inline-start: 10px;
  color: #ff4081;
  text-transform: uppercase;
  font-weight: bold;
}
