* {
  margin: 0;
  padding: 0;
  --accent-color: #3a3395;
  --darkblue-color: #111827;
}

@font-face {
  font-family: "Inter Regular";
  src: url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/interregular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("./assets/fonts/Inter-ExtraBold.woff") format("woff");
  src: url("./assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: "Inter Regular", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
}

.button-accent {
  background: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 8px;
  padding: 9px 22px;
  border: none;
  color: #ffffff;
}

.link {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

/* Всплывающик уведомления */

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  --mdc-snackbar-container-color: #fff;
  --mdc-shape-small: 8px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  padding: 0;
}

div.mdc-snackbar__surface {
  padding: 0;
}
